.page {
    box-sizing: border-box;
    width: 750px;
    height: 450px;
    padding: 10px;
    margin: 5px;
    border: solid 5px rgb(3, 4, 70);
  }
  .page2 {
    box-sizing: border-box;
    width: 750px;
    height: 600px;
    padding: 10px;
    margin: 5px;
    border: solid 5px rgb(3, 4, 70);
  }
  p {
    color: rgb(70, 10, 10);
  }
  
  .about {
    color: rgb(22, 7, 63);
  }
  
  .moreabout {
    color: rgb(77, 72, 7);
  }
  
  h1 {
    color: black;
  }